<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  	<add key="default" value="https://api.nuget.org/v3/index.json" />
    <add key="telerik" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <config>
    <add key="http_proxy" value="nuget.telerik.com" />
    <add key="http_proxy.UserName" value="%T_USER_NAME%" />
    <add key="http_proxy.Password" value="%T_PASS%" />
  </config>
</configuration>