<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
  	<add key="default" value="https://api.nuget.org/v3/index.json" />
    <add key="telerik" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <telerik>
       <add key="Username" value="%T_USER_NAME%" />
      <add key="ClearTextPassword" value="%T_PASS%" />
    </telerik>
  </packageSourceCredentials>
</configuration>