@page "/editor"

@using Telerik.Blazor.Components.Editor

<TelerikButton OnClick="@InsertHr" Primary="true">@Idx</TelerikButton>

<TelerikEditor @ref="@TheEditor" @bind-Value="@TheContent" Tools="MyTools"></TelerikEditor>

@code{
    TelerikEditor TheEditor { get; set; }

    string TheContent { get; set; } = "<p>Lorem ipsum.</p><p>Dolor sit amet.</p>";

    public List<IEditorTool> MyTools { get; set; } = new List<IEditorTool>();

    private int? Idx { get; set;}

    async Task InsertHr()
    {
        await TheEditor.ExecuteAsync(new HtmlCommandArgs("insertHtml", "<hr />"));
    }
}
